---
import "@/styles/globals.css";
---

<header
  class="mx-6 my-7 flex items-center justify-between bg-[#fff] sm:max-2xl:h-[4.5rem] md:mx-10 lg:mx-[10.31rem]"
>
  <!-- Logo & Hamburger Menu -->
  <div
    class="flex items-center justify-between gap-[8.62rem] md:mr-[2.56rem] lg:m-0"
  >
    <img src="/images/shared/desktop/logo.svg" alt="logo" class="" />
    <img
      src="/images/shared/mobile/menu.svg"
      alt=""
      class="md:max-2xl:hidden"
    />
  </div>
  <!-- Nav Links -->
  <nav class="md:mr-[3.19rem] lg:m-0">
    <ul
      class="hidden md:max-2xl:flex md:max-2xl:items-center md:max-2xl:justify-between md:max-2xl:gap-[2.31rem]"
    >
      <li class="">
        <a
          href=""
          class="text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-black transition-colors duration-500 ease-in-out hover:text-opacity-30"
          >Stories</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-black transition-colors duration-500 ease-in-out hover:text-opacity-30"
          >Features</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="text-xs font-bold uppercase leading-normal tracking-[0.125rem] text-black transition-colors duration-500 ease-in-out hover:text-opacity-30"
          >Pricing</a
        >
      </li>
    </ul>
  </nav>
  <!-- Get An Invite Link -->
  <div
    class="hidden h-10 w-[9.875rem] bg-black text-white transition-colors duration-500 ease-in-out hover:bg-[#DFDFDF] hover:text-black md:max-2xl:flex"
  >
    <a
      href=""
      class="mx-auto flex items-center justify-center text-center text-xs font-bold uppercase leading-normal tracking-[0.125rem]"
      >Get an invite</a
    >
  </div>
</header>
